# Booking Service
HTTP_PORT=8080
BOOKING_DB_DSN=postgres://user:pass@booking-postgres:5432/booking_db?sslmode=disable
FLIGHT_SERVICE_ADDR=flight-service:50051
FLIGHT_SERVICE_API_KEY=secret-api-key
GRPC_MAX_RETRIES=3
GRPC_RETRY_BASE_MS=100
CB_FAILURE_THRESHOLD=5
CB_TIMEOUT_SEC=30
CB_HALF_OPEN_MAX=1

# Flight Service
GRPC_PORT=50051
FLIGHT_DB_DSN=postgres://user:pass@flight-postgres:5432/flight_db?sslmode=disable
API_KEY=secret-api-key
REDIS_ADDR=redis-master:6379
CACHE_TTL_FLIGHT_SEC=300
CACHE_TTL_SEARCH_SEC=300
REDIS_SENTINEL_ADDRS=redis-sentinel:26379
REDIS_SENTINEL_MASTER=mymaster
